.should-be-centered {
  text-align: center;
}

.left-align {
  text-align: left;
}

.main-body-text {
  color: #0d3b78;
  font-style: italic;
}

.main-body-text:hover {
  color: #c29006;
  text-decoration: underline;
}

.secondary-body-text {
  color: black;
}

/* this is the trail button */
.trail-container {
  border: 1px dashed;
  border-radius: 5px;
  padding: 5px 9px;
  background: #053b82;
  font-family: Georgia, serif;
  color: #edeff2;
  margin-bottom: 10px;
  cursor: pointer;
}

.trail-container:hover {
  background: #c29006;
}

.trail-name {
  font-size: 14px;
}

.full-width img {
  width: 100%;
  display: inline-block;
}

.content div p {
  height: 100%;
  width: 100%;
  position: absolute;
}

.half-width {
  width: 49%;
  display: inline-block;
}

.right-half img {
  width: 100%;
}

/* this is hopefully for centering images lol */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 49%
}
